.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.App{
  background-color:rgb(199, 153, 94);
  width:90vw;
  margin-left: 70px;
  font-style: italic;
  font-family: 'Abril Fatface', cursive;
}
.Card{
  width:80vw;
  background-color: white;
  margin-left: 70px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  

}
.img{
  width:450px;
  height:330px;
  padding:20px;
  
}
.Footer{
  display:flex;
  flex-direction: column;
  color:white;
 
}
ul{
  display:flex;
  flex-direction: column;
  justify-items: start;
  align-items: flex-start;
  color:rgb(27, 119, 119);
}
.Heading{
  color:rgb(52, 82, 7);
}
h4{
  color:rgb(128, 43, 128)
}
h3{
  color:rgb(104, 104, 25)
}
 
